{% extends 'base.html' %}

{% block content %}
<h2 class="subtitle is-2">Actualizar Usuario</h2>

<form method="post">
    <div class="field">
        <label for="first_name">Nombre:</label>
        <div class="control">
            <input type="text" id="first_name" name="first_name" 
            required class="input" value="{{ user.first_name }}">
        </div>
    </div>
    <div class="field">
        <label for="last_name">Apellido:</label>
        <div class="control">
            <input type="text" id="last_name" name="last_name" 
            required class="input" value="{{ user.last_name }}">
        </div>
    </div>

    <div class="field">
        <label for="Email">Email:</label>
        <div class="control">
            <input type="text" id="Email" name="Email" 
            required class="input" value="{{ user.Email }}">
        </div>
    </div>

    <div class="field">
        <label for="Contraseña">Contraseña:</label>
        <div class="control">
            <input type="text" id="Contraseña" name="Contraseña" 
            required class="input" value="{{ user.Contraseña}}">
        </div>
    </div>

 
    <div class="field">
        <label for="Fecha_nacimiento">Fecha_nacimiento:</label>
        <div class="control">
            <input type="date" id="Fecha_nacimiento" name="Fecha_nacimiento" 
            required class="input" value="{{ user.Fecha_nacimiento }}">
        </div>
    </div>

    <input type="submit" value="Actualizar" class="button is-primary">


{% endblock %}