{% extends 'base.html' %}

{% block content %}
<h2 class="subtitle is-2">Registrar Animal</h2>
<form method="post">
    <div class="field">
        <label for="marca">Marca:</label>
        <div class="control">
            <input type="text" id="marca" name="marca" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="sabor">Sabor:</label>
        <div class="control">
            <input type="text" id="sabor" name="sabor" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="peso">Peso:</label>
        <div class="control">
            <input type="number" id="peso" name="peso" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="origen">origen:</label>
        <div class="control">
            <input type="text" id="origen" name="origen" required class="input">
        </div>
    </div>
    <input type="submit" value="Registrar" class="button is-primary">
</form>
{% endblock %}